target
Cargo.lock

.hypothesis
.pytest_cache

build
_build
_autosummary

*.h5ad
*.h5
!**/tests/data/*.h5ad

.vscode

*.egg-info
__pycache__
.venv

tests/data
data
test_zarr/*
test_zarr

t_py

.pi-lens

TODO
.DS_Store
